@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

$primary-color: #005791;
$dark-color: #304f62;
$white-color: #FFF;

.hidden{
    @media screen and (max-width: 768px){
        transition: 0.5s ease-in-out;
        animation: hiddenFooter;
        transform: translateY(350px);
    } 
}

.fullLine{
    &::before{
        height: 100% !important;
    }
}

@keyframes hiddenFooter{
    from{
        transform: translateY(350px);
    }
    to{
        transform: translateY(0px);
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

.swiper {
    width: 100%;
    max-width: 750px !important;
    height: auto;
}
.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination{
    bottom: 0;
}
.swiper-pagination-bullet:only-child{
    border-radius: 0 !important;
    display: block !important;
    background-color: $primary-color !important;
    margin: 0 auto !important;
}
span.swiper-pagination-bullet, 
span.swiper-pagination-bullet:active{
    height: 10px !important;
    width: 10px !important;
    border-radius: 0 !important;
}
// .swiper-button-next, .swiper-button-prev{
//     color: $primary-color !important;
// }

.container{
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 1rem;

    @media screen and (max-width: 576px) {
        max-width: 576px;
        padding: 0 1rem;
    }

    @media screen and (max-width: 768px) {
        max-width: 720px;
    }

    @media screen and (max-width: 992px) {
        max-width: 960px;
    }

    @media screen and (max-width: 1200px) {
        max-width: 1090px;
    }
}

body{
    font-family: 'Rubik', sans-serif;

    header{
        padding-top: 2rem;
        background-color: $primary-color;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .container{
            .grid{
                display: grid;
                grid-template-columns: max(395px) 1fr;
                align-items: center;
                justify-content: center;
                gap: 1rem;

                .content__text{
                    padding-bottom: 2rem;
                    h1{
                        font-size: 3rem;
                        color: $white-color;
                        margin-bottom: 1rem;
                        text-shadow: 0 4px 1px rgba(0,0,0,0.2);
                    }
                    p{
                        color: $white-color;
                        font-size: 1.25rem;
                        line-height: 1.6;
                    }
                }
                .content__img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    bottom: 0;
                    right: 0;
                    display: flex;
                    align-items: flex-end;
                    height: 100%;
                }
            }
        }
        
    }

    section{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;

        &.section {
            .container{
                h2.title{
                    font-size: 2.5rem;
                    color: $primary-color;
                    margin-bottom: 4rem;
                }

                .grid {
                    grid-template-columns: 1fr 2fr;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    gap: 2rem;
    
                    .content__text {
                        position: relative;

                        .title {
                            display: flex;
                            align-items: center;
                            margin-bottom: 1rem;
                            gap: 1rem;
                            margin-left: 1rem;
    
                            h2{
                                font-size: 3.5rem;
                                color: $dark-color;
                                font-weight: 500;
                            }
                            p{
                                font-size: 1.25rem;
                                font-weight: 300;
                                color: $dark-color;
                                line-height: 1.3;
                            }
                        }
                        .description__text{
                            font-size: 1rem;
                            line-height: 1.6;
                            font-weight: 300;
                            opacity: 0.65;
                            margin-left: 1rem;


                            
                            
                        }
                        
                        ul{
                            list-style: none;
                            text-align: right;
                            margin-right: 1rem;
                            li{
                                font-size: 0.7rem;
                                color: $dark-color;
                                opacity: 0.65;
                            }
                        }

                        &.left{

                            &::before{
                                content: '';
                                width: 3px;
                                height: 250px;
                                background-color: $dark-color;
                                position: absolute;
                                left: 0px;
                                opacity: 0.1;
                            }
                            &::after{
                                content: '';
                                width: 3px;
                                height: 55px;
                                background-color: $dark-color;
                                position: absolute;
                                top: 0;
                                left: 0px;
                            }
                        }

                        &.right{

                            .title{
                                justify-content: end;
                                margin-left: 0;
                                margin-right: 1rem;

                                p{
                                    text-align: right;
                                }
                            }
                            .description__text{
                                text-align: right;
                                margin-right: 1rem;
                            }

                            &::before{
                                content: '';
                                width: 3px;
                                height: 250px;
                                background-color: $dark-color;
                                position: absolute;
                                right: 0px;
                                opacity: 0.1;
                            }
                            &::after{
                                content: '';
                                width: 3px;
                                height: 75px;
                                background-color: $dark-color;
                                position: absolute;
                                top: 0;
                                right: 0px;
                            }
                        }


                    }
                    .content__img{
                        position: relative;
                        img{
                            border: solid 1px rgba(48, 79, 98, 0.10);
                            border-radius: 4px;
                        }
                    }
                }
            }
        }

        &:nth-child(odd){
            background-color: #F8F8F8;
            //background-color: #c6c6c6;

            .container{
                .grid {
                    grid-template-columns: 2fr 1fr;

                    .content__text {
                        position: relative;

                        // &::after{
                        //     content: '';
                        //     width: 3px;
                        //     height: 75px;
                        //     background-color: $dark-color;
                        //     position: absolute;
                        //     top: 0;
                        //     right: -20px;
                        // }
                    }
                }
            }
        }

        &:last-of-type{
            margin-bottom: 288px;
        }
    }

    footer{
        transition: 0.5s ease-in-out;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 999;
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .content__text{
                background-color: $primary-color;
                padding: 1.5rem;

                .container{
                    

                    .content{
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            justify-content: center;

                        p{
                            color: $white-color;
                            font-weight: 300;
                            max-width: 350px;
                            font-size: 0.85rem;
                        }
        
                        .btn{
                            color: $primary-color;
                            background-color: #dcdcdc;
                            text-decoration: none;
                            display: inline-block;
                            border-radius: 4px;
                            padding: 0.5rem 1rem;
                            border: solid 2px #dcdcdc;
                            transition: 0.5s ease;

                            &:hover{
                                border: solid 2px #dcdcdc;
                                background: transparent;
                                color: #dcdcdc;
                            }
                        }
                    }

    
                    
                }

                &:last-of-type{
                    background-color: #dcdcdc;
                    padding: 2rem;

                    .container{
                        .content{
                            input{
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                            p{
                                color: $primary-color;
                            }
                            .btn{
                                color: #dcdcdc;
                                background-color: $primary-color;
                                text-decoration: none;
                                display: inline-block;
                                border-radius: 4px;
                                padding: 0.5rem 1rem;
                                border: solid 2px $primary-color;
                                transition: 0.5s ease;

                                &:hover{
                                    border: solid 2px $primary-color;
                                    background: transparent;
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                    
                }
            }   
                
        }
    }
}


@media screen and (max-width:768px) {

    .container{
        padding: 0 1rem;
    }

    header{
        height: auto !important;

        .container{
            .grid{
                display: block !important;
                grid-template-columns: 1fr !important;
                grid-template-rows: 1fr 1fr;

                .content__img{
                    bottom: unset !important;
                    
                }
            }
        }
    }

    section{
        height: auto !important;

        &.section{
            padding: 2rem 0;
            .container{

                // .title{
                //     margin-bottom: 0rem !important;
                // }

                .grid {
                    grid-template-columns: 1fr !important;
                    grid-template-rows: 1fr 1fr;

                    .content__text{
                        padding: 0 1rem;

                        &.left{
                            &::before{
                                height: 200px;
                                left: 0 !important;
                            }
                            
                        }
                    }

                    .content__img{
                        overflow: hidden;
                    }
                }
            }

            &:nth-child(odd){
                .container{
                    .grid{
                        .content__img{
                            order: 2;
                        }
                        .content__text{
                            padding: 0 1rem;
                            &.right{
                                text-align: right;

                                &::before{
                                    right: 0 !important;
                                    height: 200px;
                                }
                                &::after{
                                    right: 0 !important;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }

    footer{

        .grid{
            grid-template-columns: 1fr !important;
            grid-template-rows: 1fr 1fr;

            .content__text{
                padding: 1rem !important;
                .container{
                    .content{
                        display: block !important;
                        text-align: center;

                        a{
                            margin-top: 1rem;
                        }
                    }
                }
            }
            .content__text:last-of-type{
                .container{
                    .content{
                        display: grid !important;
                        grid-template-columns: 2rem 1fr;
                        gap: 0;

                        input{
                            grid-row: 1;
                        }
                        p{
                            grid-row: 1;
                        }

                        a{
                            grid-column: 2;
                            grid-row: 2;
                        }
                    }
                }   
            }
        }
    }
}
